$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$inline-block: inline-block;
$anchor-color: blue;


body {
  font: 100% $font-stack;
  color: $primary-color;
  display: $inline-block;
}

p{
  color: $primary-color;
  a{
    color: $anchor-color;
  }
}